.reasonsImg{
    width: 20%;
    height:20%;
    margin-bottom:5%;
}
.addText{
    color: #76A2F6;
    /* margin-top: 10%; */
}
.addImage{
    width: 10%;
    height: 13%;
    margin-left: 10%;
    /* margin-top: 10%; */
}
.inActiveList{
width: 100%;
background:#ffffff ;
border: hidden;
padding: 4%;
text-align: left;
}
.inActiveList:hover{
width: 100%;
background:#d0e8fd ;
border: hidden;
padding: 4%;
}
.inActiveListingPosition{
    border: solid grey;
    height: 100%;
    width: 100%;
    padding: 2%;
    overflow-y: scroll;

}
.flexProperty{
    display: flex;
    flex-direction: column-reverse;
}
.characterInActiveList{
    width: 100%;
    background: #d0e8fd;
    border: hidden;
    padding: 4%;
    text-align: left;
    border-left: dashed;
    border-color: blue;
    
    
}
.characterInActiveList::before{
    content: "";
    /* width: 94%; */
    height: 10%;
    border-left-style: dashed;
    border-color: blue;
    position: absolute;
    left: 10%;
    top: 11%;
}
.userProfileIcon{
   
        width: 70%;
        height:70%;
        margin-bottom:5%;
  
}