

.signin
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: 'Inter';
}
.signin_form
{
  border:1px solid #DCDCDC;
  border-radius: 1em;
  width:400px;
  height:400px;
  padding:40px;
  padding-top:60px;
}
.infostyle{
  font-size: 12px;

}
.loginbutton{
  background-color:#FF8C00;
  border:1px solid white;
}
.logincontactInfo{
  margin:0

}

